@page "/"

<PageTitle>Home</PageTitle>

<p>Welcome players! this website is build with Blazor WASM on .net 8</p>

<p>Click any games on the menu to start playing</p>

<p>We will gradually add more and more games</p>