@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/kelbin-lin-b3ba74155/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/kelbindev" target="_blank"><i class="bi bi-github"></i></a>
            <a href="https://drive.google.com/file/d/1S3hQUG2_NFHDipn8F2cfBDaY1nqPQqsv/view?usp=sharing" target="_blank"><i class="bi bi-file-person"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
